/*
// =================================
//            VARIABLES
// 1. Colors
// 2. Colors Components
// 3. Media Queries
// 4. Typography
// =================================
*/

// ---------------------
// 1. Colors
// ---------------------
$white          = #fff
$midnight_blue  = #00285F
$catalina_blue  = #042F6B
$turquoise      = #32E6C8
$lochmara       = #007fe1
$ship_gray      = #3F3F40
$pampas         = #F7F5F3
